
.button {
	margin-top: 2px;
	width: 140px;
	height: 27px;
	border-radius: 5%;
	font-size: 12px;
	color: black;
	text-align: center;
	line-height: 27px;
	border: solid 1px #000000;
}
#fax_div_day_div {
	display: none;
}
#fax_div_month_div{
	display: none;
}
#fax_div_season_div{
	display: none;
}
#fax_div_year_div{
	display: none;
}
#satellite_div_tesday_div {
	display: none;
}
#satellite_div_pesday_div {
	display: none;
}
#satellite_div_month_div {
	display: none;
}
#satellite_div {
	display: none;
}
#atm_div_day_div {
	display: none;
}
#atm_div_month_div{
	display: none;
}
#atm_div{
	display: none;
}
#fax_div{
	display: none;
}
#environment_div{
	display: none;
}
#environment_div_month_div{
	display: none;
}
#environment_div_season_div{
	display: none;
}
#environment_div_year_div{
	display: none;
}
.button-2{
	background: url(../images/menuimg/menu_bg.jpg);	
}
.button-3{	
	background-color: lightcyan;
	width: 135px;
	margin-left: 5px;
}
.button-4{
	background-color: lightblue;
	width: 135px;
	margin-left:10px;
}
.selected{
	background: url(../images/menuimg/onclick.png);
}
.selected1{
	background-color: lightskyblue;
}
.selected2{
    background-color: red;  
}
