@charset "utf-8";
/* CSS Document */

/*归零*/
html{ background-color:#75cdfd;overflow:hidden;}

html,body { height: 100%; padding:0px; margin:0px; }
body { background: #fff; margin: 0; padding: 0; line-height: normal; font-size: 12px; color: #fff; font-family: "宋体", Arial, Helvetica, sans-serif; behavior: url(/script/hover.htc); background-image: url(about:blank); background-attachment: fixed; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif, "宋体"; font-size:12px;}
/*设置表格边框合并,间距归零*/
table { border-collapse:collapse; border-spacing:0; }
/*fieldset,图片边框归零*/
fieldset, img { border:0; }
/*字体样式,粗细统一*/
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
/*取消列表样式*/
ol, ul { list-style:none; }
/*caption,th对齐方式为左对齐*/
caption, th { text-align:left; }
/*统一H标签文字大小,取消加粗效果*/
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
/*取消q标签前后的引号*/
q:before, q:after { content:''; }
/*取消缩写标签的虚线下划线*/
abbr, acronym { border:0; }
/*取消a标签的下划线*/
a {text-decoration:none;}
.clear{ clear:both;}
.l{ float:left;}
.r{ float:right;}
input { vertical-align:middle; }
/*——————————————————————————通用————————————————————————————————*/
html{ background-color:#75cdfd;}
body{ background:url(../images/login/bg_new.png) repeat-x;}
#box{ background:url(../images/login/bg_bg_new.png) no-repeat;width:576px;height:650px; margin:0 auto;}
h2{ padding-top:240px;*padding-top:0!important; *margin-top:240px!important; padding-left:180px; font-size:32px; font-family:"微软雅黑","黑体"; color:#FFF; font-weight:bolder;}
h3{ font-size:16px; text-align:center; padding-right:135px; padding-top:2px; font-family:"微软雅黑","黑体"; color:#000; font-weight:bolder;}
.cont{ width:340px; height:197px; margin-left:202px; margin-top:38px;}
.user{width:300px;padding:30px 0 6px 0;height:27px;}
.user1{width:300px;padding:6px 0;height:27px;}
.text{font-size:12px; color:#333; line-height:20px; text-align:left; padding-left:5px; float:left; background:url(../images/login/yh_bg.png) no-repeat; width:58px; height:19px;}
.login_img{ background:url(../images/login/login_bg.png) no-repeat; width:135px; height:19px;border:none; margin-left:20px; padding:0 6px; overflow:hidden;}
input:focus {outline:none;}
.login a{width:50px;padding-right:70px; float:right; color:#333; line-height:18px;}

