@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

body {
	background: #fff;
	text-align: center;
}

img {
	vertical-align: middle;
	border: 0px;
}

li {
	list-style: none;
}

select {
	vertical-align: middle;
}

input[readonly='readonly'] {
	vertical-align: middle;
	border: 1px solid #B8B8B8;
	height: 16px;
	padding: 4px 2px 0px 2px;
	color: #A7A7A7;
}

input {
	vertical-align: middle;
	border: 1px solid #B8B8B8;
	height: 16px;
	padding: 4px 2px 0px 2px;
	color: black;
}

a:link,a:visited,a:active {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #725E00;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.clear {
	height: 5px;
	clear: both;
	font-size: 0px;
	line-height: 0px;
}

.bclear {
	height: 8px;
	clear: both;
	font-size: 0px;
	line-height: 0px;
}

/*head*/
#head {
	height: 100px;
	background: url(../images/bg_title.jpg) repeat-x center top;
	border-bottom: 1px solid #A1BECE;
	min-width: 1003px;
	text-align: left;
}

#head dd {
	width: 450px;
	float: left;
}

#head dt {
	min-width: 200px;
	float: right;
	height: 30px;
	color: #fff;
	line-height: 30px;
	padding: 49px 10px 0px 0px;
}

.userinfo {
	height: 30px;
	width: auto !important;
	width: 300px;
	min-width: 200px;
	color: #FFFFF0;
}

.userinfo .bleft {
	min-width: 200px;
	height: 30px;
}

.userinfo .bright {
	width: 500px;
	height: 24px;
	line-height: 24px;
	padding: 6px 15px 0px 15px;
}

.userinfo img {
	margin: 0px 10px 0px 5px;
}

.userinfo a {
	padding: 0px 6px;
	
}

.userinfo a:link,.userinfo a:visited,.userinfo a:active {
	color: #FFFFF0;
	text-decoration: none;
}

.userinfo a:hover {
	color: #ff0000;
	text-decoration: none;
}

.userinfo .info {
	padding-right: 10px;
	color: #725E00;
	font-weight: bold;
}
/*head*/
#menu {
	height: 30px;
	background: url(../images/menuoff.png) repeat-x center bottom;
	border-bottom: 6px solid #188FC9;
	min-width: 1003px;
	text-align: left;
}

#menu a {
	padding: 10px 15px 0px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
}

#menu a:link,#menu a:visited,#menu a:active {
	color: #056899;
	text-decoration: none;
	display: block;
	float: left;
}

#menu a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: url(../images/menuon.png) repeat-x center top;
	display: block;
}

#menu .menuon {
	color: #FFFFFF;
	background: url(../images/menuon.png) repeat-x center top;
}

#menu .line {
	display: block;
	height: 12px;
	float: left;
	padding: 20px 1px 0px 1px;
	background: url(../images/line.png) no-repeat center center;
}

#menu dd {
	width: auto;
	float: left;
}

#menu dt {
	width: auto;
	float: right;
	padding: 4px 10px 0px 10px;
}

/*footer*/
#footer {
	background: url(../images/footerbg.jpg) repeat-x center top;
	text-align: center;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	/* height: 80px; */
	line-height:0px;
	min-width: 1003px;
	margin: 0px auto;
}

.msgTip {
	background: url(../images/message1.png) repeat-x center bottom;
	text-align: center;
	width: 30px;
	float: right;
	top: 20px;
	cursor: pointer;
}

#messageDiv {
	display: none;
	position: relative;
	width: 300px;
	border: 1px solid black;
}