<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	
	<beans:description>SpringSecurity安全配置</beans:description>
	
	<!-- http安全配置 -->
	<http auto-config='true' access-denied-page="/noright.do">
		<intercept-url pattern="/welcome.do" filters="none" />
		<intercept-url pattern="/infopage.do" filters="none" />
		<intercept-url pattern="/session-expired.do" filters="none" />
		<intercept-url pattern="/noright.do" filters="none" />
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/**.dox" filters="none" />
		<intercept-url pattern="/**/**.dox" filters="none" />
		<intercept-url pattern="/js/**" filters="none" />
		<intercept-url pattern="/ueditor/**" filters="none" />
		<intercept-url pattern="/**/**.jsp" filters="none" />
		<intercept-url pattern="/**/**.css" filters="none" />
		<intercept-url pattern="/**/**.gif" filters="none" />
		<intercept-url pattern="/**/**.png" filters="none" />
		<intercept-url pattern="/**/**.jrprint" filters="none" />
		<intercept-url pattern="/logout.service" filters="none" />
		
		<intercept-url pattern="/servletdemo" filters="none" />
		<intercept-url pattern="/agentservletdemo" filters="none" />
		
		<intercept-url pattern="/**/**.html" filters="none" />
		<logout success-handler-ref="myLogoutSuccessHandler"/>
		<http-basic />
		<form-login login-page="/welcome.do" 
			authentication-success-handler-ref="myLoginSuccessHandler"
			authentication-failure-url="/welcome.do?error=true" default-target-url="/index.do" />
		<!--在custom-filter中可以使用before|position|after三种方式，将自定义过滤器放在对应名称的位置上，或者位置之前，或者位置之后。 
			除了表示最前面的FIRST和表示最后面的LAST之外，这里的每个名称都对应着一个标准过滤器，要记住SESSION_CONTEXT_INTEGRATION_FILTER, 
			EXCEPTION_TRANSLATION_FILTER和FILTER_SECURITY_INTERCEPTOR 三个过滤器是不可替换的，不能对它们使用position。 -->
		<custom-filter after="LAST" ref="resourceSecurityInterceptor" />
		<!-- 同一账户的最大在线数，true：不允许，false：后登录踢掉先登录的 -->
		<session-management>
			<concurrency-control max-sessions="4" error-if-maximum-exceeded="false" />
		</session-management>
	</http>
	
	<!-- 验证配置 ， 认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="myUserDetailsService">
			<password-encoder hash="md5"/>
			<!-- 	<authentication-provider user-service-ref="userDetailsService">
				<password-encoder hash="md5">
					<salt-source user-property="username" />
				</password-encoder>-->
		</authentication-provider>
	</authentication-manager>

	<!-- Automatically receives AuthenticationEvent messages -->
	<beans:bean id="loggerListener"
		class="org.springframework.security.authentication.event.LoggerListener" />

	<beans:bean id="resourceSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<!--AuthenticationManager用来对用户请求进行认证工作 -->
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<!--AccessDecisionManager用于控制资源的访问权限 -->
		<beans:property name="accessDecisionManager" ref="myAccessDecisionManagerBean" />
		<beans:property name="securityMetadataSource"
			ref="mySecurityMetadataSource" />
		<beans:property name="observeOncePerRequest" value="false" />
	</beans:bean>
	
	
</beans:beans>
