@charset "utf-8";
*{padding:0;margin:0;list-style-type:none;}
body{height:2000px;}
a{text-decoration:none;}

/* float_layer */
.float_layer{border:1px solid #fa6b75;display:none;}
.float_layer_bg{height:25px;line-height:25px;padding-left:10px;font-size:14px;color:#333;background:url(../../images/img/title_bg.gif) repeat-x;border-bottom:1px solid #fa6b75;position:relative;}
.float_layer .min{width:21px;height:20px;background:url(../../images/img/min.gif) no-repeat 0 bottom;position:absolute;top:2px;right:25px;}
.float_layer .min:hover{background:url(../../images/img/min.gif) no-repeat 0 0;}
.float_layer .max{width:21px;height:20px;background:url(../../images/img/max.gif) no-repeat 0 bottom;position:absolute;top:2px;right:25px;}
.float_layer .max:hover{background:url(../../images/img/max.gif) no-repeat 0 0;}
.float_layer .close{width:21px;height:20px;background:url(../../images/img/close.gif) no-repeat 0 bottom;position:absolute;top:2px;right:3px;}
.float_layer .close:hover{background:url(../../images/img/close.gif) no-repeat 0 0;}
.float_layer .content2{height:130px;width:300px;overflow:hidden;font-size:14px;line-height:18px;color:#000; background-color:#fff}
.float_layer .wrap2{padding:10px 10px 4px 10px;}

.wrap2 ul li{line-height:25px;font-size:14px;font-family:'微软雅黑';border-bottom:1px dashed #ccc;background:url(/FirstPage/images/list.gif) no-repeat left center;}
.nl{color:#585858;}
a.nl:hover{color:#0378b5;}
li a{font-family:'微软雅黑';font-size:14px;line-height:30px;letter-spacing:1px;}